---
// src/layouts/Layout.astro
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Astro Site</title>
  </head>
  <body>
    <slot />
  </body>
</html>
